#discount-div {
    width: 600px;
    min-width: 60%;
}

#create-discount-section {
    display: flex;
    justify-content: space-around;

    height: 150px;
}

#create-discount-section>section>aside {
    margin-bottom: 15px;
}

#create-discount-section>section>aside>section {
    margin-bottom: 5px;
}



#category-section {
    margin-bottom: 20px;
}

#all-categories-option {
    display: flex;
    justify-content: center;

    margin-bottom: 30px;
}

#all-categories-option > *:hover {
    cursor: pointer;
}
