.order-table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  backdrop-filter: blur(10px);
  /* Apply a blur effect to the background */
  background: rgba(255, 255, 255, 0.6);
  /* Semi-transparent white background for the blur effect */
  border-radius: 10px;
  text-align: center;
  max-width: fit-content;
  /* Set your desired maximum width */
  margin: 0 auto;
  /* Center the grid horizontally */
}

.order-table * {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.order-table-header {
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #000;
  font-weight: bold;
}

.order-table-cell {
  flex: 1;
  padding: 10px;
  /* min-width: 125px; */
  width: 120px;
}

.order-card {
  display: flex;
  border-bottom: 1px solid #000;
  background: rgba(31, 31, 31, 0.6);
  color: white;
}

.order-info {
  display: flex;
  flex: 1;
  padding: 10px;
  padding-right: 0px;
  padding-left: 0px;
}

.order-card:last-child {
  border-bottom: none;
  /* Remove the line under the last order */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.order-back-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;

  border: none;
  font-size: 25px;
}


#order-name {
  min-width: 250px;
}
