.all-products-container {
    /* backdrop-filter: blur(10px);  */
    /* Apply a blur effect to the background */
    background: rgba(255, 255, 255, 0.6); /* Semi-transparent white background for the blur effect */
    border-radius: 10px;
    /* text-align: center; */
    width: 100%; /* Set your desired maximum width */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container h1 {
    text-align: center;
}

.product-grid {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr); /* Create a 3-column grid */
    gap: 20px; /* Add spacing between grid items */
    
}

.product-cell {
    display: flex;
    flex-direction: row;
    padding: 10px 80px;
}

/* .product {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
} */

.product a {
    text-decoration: none;
    color: initial;
}

.product-price {
    font-weight: 700;
}

.product li {
    /* padding: 10px; */
}

/* .cart-btn {
    cursor: pointer;
    border-radius: 20px;
    padding: 6px;
    width: 80%;
    margin: 0 auto; 
    display: block; 
} */

.cart-icon {
    height: 30px;
}

.product-container {
    display: flex;
    height: auto;
}

.product.left, .product.right {
    width: 50%;
}

.product.left {
    margin: 40px 125px;
}


.product.right {
    margin: 100px 150px;
}

.product.right h1 {
    text-align: left;
}

.product.right p {
    line-height: 50px;
}


.add-cart-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 20px;
    cursor: pointer;
}

.product-image {
    width: 450px;
    height: 450px;
}

.single-product-image {
    width: 750px;
    height: 800px;
}
