.review-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    backdrop-filter: blur(10px);
    /* Apply a blur effect to the background */
    background: rgba(255, 255, 255, 0.6);
    /* Semi-transparent white background for the blur effect */
    border-radius: 10px;
    text-align: center;
    max-width: 800px;
    /* Set your desired maximum width */
    margin: 0 auto;
    /* Center the grid horizontally */
}

.review-container h1 {
    text-align: center;
}

.review-grid {
    display: flex;
    transition: transform 0.3s ease;
    
}



.review-info {
    padding: 10px 10px;
}

.pagination {
    text-align: center;
}

.pagination button {
    border-radius: 30px;
    padding: 8px 10px;
    margin-top: 15px;
}

.arrow {
    margin: 10px ;
}

.bxs-star {
    color: black;
    font-size: larger;
}

.info {
    font-weight: 500;
}

.info.user {
    font-size: large;
}


.reviews-container {
    border-top: 1px solid gray;
    margin: 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.review {
    width: 55vw;
    height: 15vh;
    /* background: rgba(255, 255, 255, 0.6); */
    background-color: transparent;
    margin: 20px 3px;
    border-radius: 10px;
    padding: 30px 30px;
    border: 1px solid gray;
}

.review-info-user {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.review-info-date {
    margin-bottom: 20px;
    color: gray;
    font-size: small;
}

.review-info-review {
    color: gray;
    line-height: 30px;
}
