#product-main-container {
    border-radius: 10px;
    padding: 30px;
    padding-left: 0px;
    padding-right: 0px;

    height: fit-content;

    width: 600px;
    min-width: 60%;
}

#product-info-container {
    display: flex;
    justify-content: space-evenly;
}

#product-edit-container {
    margin-bottom: 10px;
}

#product-edit-container>* {
    margin-bottom: 20px;
}

#product-edit-container section aside {
    margin-bottom: 5px;
}

#product-description {
    margin-bottom: 3px;
}

#product-description-input {
    margin-bottom: 30px;

    width: 300px;
    height: 150px;
    overflow-y: auto;
    resize: none;
}

#product-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#product-name {
    margin-left: 5px;
}

#product-name:hover {
    cursor: pointer;
    text-decoration: underline;
}
