/* Dashboard Side Bar section */
#dashboard-side-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 200px;

    top: 75px;
    left: 0;
    bottom: 0;

    background-color: #2C3E50;
    color: #ffffff;
}

#dashboard-side-bar>div {
    padding: 20px;
    padding-left: 35px;
    cursor: pointer;
}


#dashboard-side-bar>div:hover {
    background-color: #57687c;
    color: white;
}


/* Dashboard Display Section */
#dashboard-display {
    display: flex;

    padding: 20px;
    padding-left: 250px;
    padding-bottom: 0px;

    height: 100%;
}


/* Temporary text CSS */
.dash-text-100 {
    color: #ffffff;
}

.dash-text-200 {
    color: #57687c
}


/* ----------------------------------------------------------------------------------------- */
/* dashboard table stuff. might change the name to be just "table-th" or something if we want to use this for other tables */
.dashboard-table {
    margin-top: 130px;
}


/* Table Header section */
.dashboard-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: fixed;

    top: 75px;
    left: 200px;

    width: 100%;
    height: 60px;

    background-color: #2C3E50;
    color: #ffffff;
}

.dashboard-tr {
    display: flex;
    flex-direction: row;

    padding-left: 50px;
    max-width: 70vw;
}

.dashboard-th-300 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 300px;
    font-weight: normal;
}

.dashboard-th-200 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 200px;
    font-weight: normal;
}

.dashboard-th-100 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100px;
    font-weight: normal;
}


/* Table Body section */
.dashboard-table-rows {
    display: flex;
    flex-direction: row;
    align-items: center;

    max-width: 70vw;
}

.dashboard-table-rows>* {
    margin-bottom: 20px;
}

.dashboard-td-300 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 300px;
    font-weight: normal;
}

.dashboard-td-200 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 200px;
    font-weight: normal;
}

.dashboard-td-100 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100px;
    font-weight: normal;
}


.expanded-row {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 20px;
}
