/* TODO Add site wide styles */
html,
body,
#root {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #F2F2F2;
}


/* ---------------------------------------------------------------------------------------------------------------- */
/* Border Stuff */
.no-border {
    border: none;
}

.black-border {
    border: 1px solid black;
}

.white-border {
    border: 1px solid white;
}


/* ---------------------------------------------------------------------------------------------------------------- */
/* Text Stuff */
.primary-font {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    font-family: "Inter", sans-serif;
}

.font-20 {
    font-size: 20px;
}

.font-16 {
    font-size: 16px;
}


/* ---------------------------------------------------------------------------------------------------------------- */
/* Color Stuff */
.primary-100 {
    color: #2C3E50
}

.primary-200 {
    color: #57687c
}

.primary-300 {
    color: #b4c7dd;
}

.accent-100 {
    color: #F7CAC9;
}

.accent-200 {
    color: #926b6a;
}


/* ---------------------------------------------------------------------------------------------------------------- */
/* Text Stuff */

.text-100 {
    color: #333333
}

.text-200 {
    color: #5c5c5c
}

.underline {
    text-decoration: underline;
}



/* ---------------------------------------------------------------------------------------------------------------- */
/* Background Color Stuff */
.bg-100 {
    background-color: #F2F2F2;
}

.bg-200 {
    background-color: #e8e8e8;
}

.bg-300 {
    background-color: #bfbfbf;
}



.container {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    /* background-color: white; */
    backdrop-filter: blur(10px);
    /* Apply a blur effect to the background */
    background: rgba(255, 255, 255, 0.6);
    /* Semi-transparent white background for the blur effect */
    border-radius: 10px;
}


/* ---------------------------------------------------------------------------------------------------------------- */
/* Mouse Stuff */

.pointer:hover {
    cursor: pointer;
}
