#discount-main-container {
    border-radius: 10px;
    padding: 30px;
    padding-left: 0px;
    padding-right: 0px;

    height: fit-content;

    width: 650px;
    min-width: 65%;
}

#discount-info-container {
    display: flex;
    justify-content: space-evenly;
}

#discount-edit-container {
    margin-bottom: 10px;
}

#discount-edit-container>* {
    margin-bottom: 20px;
}

#discount-edit-container section aside {
    margin-bottom: 5px;
}

#discount-expiration-input {
    width: 188px;
}

#discount-type-container>section>* {
    margin-bottom: 10px;
}
